*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #08415C;
    text-align: center;
}

h1{
    height: 11vmin;
    border-radius: 4vmin;
    margin-top: 2vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2e0509;
    color: white;
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.6);
    font-size: 8vmin;
    font-weight: bold;
    background-color: #EBBAB9;
    cursor: pointer;
}

.o-color{
    color: #149c1b;
}

.x-color{
    color: #CC2936;
}



#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #B5FFE1;
    font-weight: bold;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
}

#new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #B5FFE1;
    font-weight: bold;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
}

#msg{
    color: #ffffc7;
    font-size: 7vmin;

}

.msg-container{
    height: 130vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.hide{
    display: none;
}